* {
    padding: 0;
    margin: 0;
}

.titulo-logo {
background-color: rgba(220, 220, 220, 0.437);
color: black;
text-decoration: underline;

}


.cuadradito { 

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.subtitulo {
    
    color: rgba(0, 43, 95, 0.39);
    display: flex;
    justify-content: space-around;
    
}

.imagen {
width: 70px;
height: 70px;
}


.titulo {
    color: black;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.contorno {
    color: black;
    border: 2px solid black;
    height: 500px;
    
}

.p {
    background-color: black;
    color: white;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.foto1 {
    background-color: blueviolet;
    margin: 5px;
    width: 25vw;
    height: 25vh;
    
}

.foto2 {
    background-color: darkkhaki;
    margin: 5px;
    width: 25vw;
    height: 25vh;
    
}

.foto3 {
    background-color: chartreuse;
    margin: 5px;
    width: 25vw;
    height: 25vh;
    
}

.foto4 {
    background-color: darkkhaki;
    margin: 5px;
    width: 25vw;
    height: 25vh;
    
    }

.foto5 {
    background-color: tomato;
    margin: 5px;
    width: 25vw;
    height: 25vh;
    
}

.foto6 {
    background-color: darkblue;
    margin: 5px;
    width: 25vw;
    height: 25vh;
    
}

.foto7 {
    background-color: hotpink;
    margin: 5px;
    width: 25vw;
    height: 25vh;
    
}

.foto8 {
    background-color: rgb(93, 16, 55);
    margin: 5px;
    width: 25vw;
    height: 25vh;
    
}

.foto9 {
    background-color: rgb(10, 53, 1);
    margin: 5px;
    width: 25vw;
    height: 25vh;
    
}

.fotones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.informacion{
    list-style: none;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30px;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
}

.link1 {
    background-color: rgb(255, 255, 255);
    border-style: ridge;
}

.link2 {
    background-color: rgb(255, 255, 255);
    border-style: ridge;
}

.link3 {
    background-color: rgb(255, 255, 255);
    border-style: ridge;
}

.link4 {
    background-color: rgb(255, 255, 255);
    border-style: ridge;
}

.link5 {
    background-color: rgb(255, 255, 255);
    border-style: ridge;
}

.elfinal {
    background-color: rgba(82, 155, 234, 0.741);
    color: white;
}

.fotones  {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
      ". . . . ."
      ". foto1 foto2 foto3 ."
      ". foto4 foto5 foto6 ."
      ". foto7 foto8 foto9 ."
      ". . . . ."; 
  }
  .foto1 { grid-area: foto1; }
  .foto2 { grid-area: foto2; }
  .foto3 { grid-area: foto3; }
  .foto4 { grid-area: foto4; }
  .foto5 { grid-area: foto5; }
  .foto6 { grid-area: foto6; }
  .foto7 { grid-area: foto7; }
  .foto8 { grid-area: foto8; }
  .foto9 { grid-area: foto9; }
  

@media (max-width: 768px) {
    .titulo-logo {
        flex-direction: row;
        color: white
    }
    .cuadradito {
        background-color: rgb(9, 133, 195);
    }
    
    .elfinal{
        display: none;
    }
    /* .fotones  {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-areas: 
          ". . . . ."
          ". foto1 foto2 ."
          ". foto3 foto4 ."
          ". foto5 foto6 ."
          ". foto7 foto8"
          ". . . . ."; 
          height: 100vh; */
}

/*Dispositivos HASTA 425px - CELULARES */
@media (max-width: 425px) {
    .cuadradito {
        background-color: rgb(176, 50, 8);
    }

    .titulo-logo {
        color: white
    }
    /* .fotones {
        grid-template-columns: 1fr; 
        grid-template-areas: 
          "foto1"
          "foto2"
          "foto3"
          "foto4"
          "foto5"
          "foto6"
          "foto7"
          "foto8"
          "foto9"; 
      height: 50vh; */
}